<!-- /patient/exercises view page-->
<div class="container">


	<div class="row">

		<h1><%= @patient.first_name  + " " + @patient.last_name %></h1>


	<div class="exercise">
		<% @exercises.each do |exercise| %>
			<div class='col-md-2'>

			<!--image/youtube div -->
		<% if exercise.image_url.include? "youtu" %>
			<%= embed(exercise.image_url) %> 
		<% else %>
			 <img src= "<%= exercise.image_url %>" width="400" height="300" />
		<% end %>
		</div>


			<div class='col-md-6'>
			  <h6><%= exercise.title %></h6>
			  <%= exercise.description %>
			</div>

			<div class="col-md-4">

					<button class="exercise" id='<%= exercise.id %>'>Remove</button>

			</div>
			<div class="clearfix"></div>
			<hr>
		<% end %>

	</div>
	</div>
</div>
