<br>
<br>
<!-- /patient/exercises view page-->
<div class="container-fluid">


	<div class="row">

		<h1 style="font-size: 3.5em"><%= @patient.first_name  + " " + @patient.last_name + "'s Exercises" %></h1><hr><br><br>
	</div>

		<h1><%= link_to @patient.first_name  + " " + @patient.last_name, patient_path(@patient) %></h1>

	<div class="row">
		<div class="patient">
		<% @exercises.each do |exercise| %>
			<!--image/youtube div -->
		<% if exercise.image_url.include? "youtu" %>
			<%= embed(exercise.image_url) %> 
		<% else %>
			 <img src= "<%= exercise.image_url %>" width="400" height="300" />
		<% end %><br>



			  <h3><strong>Exercise:</strong></h3><h4><%= exercise.title %></h4>
			  <h3><strong>How To:</strong></h3><h4><%= exercise.description %></h4>
		
	<div class="row">
		<div class="patient">
		<% if @patient.exercises.include?(exercise) %>
				<button class="edit-exercise btn btn-danger" id='<%= exercise.id %>'>Remove</button>
		<% else %>
				<button class="edit-exercise btn btn-info" id='<%= exercise.id %>'>Add</button>
			<% end %>
		</div>
	</div>

	<div class="clearfix"></div>
			<hr>
		<% end %>

	</div>
	</div>
</div>
