<br>
<br>
<!-- /patient/exercises view page-->
<div class="container-fluid">

	<div class="row">
		<h1><%= @patient.first_name  + " " + @patient.last_name %></h1>

		<% @exercises.each do |exercise| %>
			<!--image/youtube div -->
		<% if exercise.image_url.include? "youtu" %>
			<%= embed(exercise.image_url) %> 
		<% else %>
			 <img src= "<%= exercise.image_url %>" width="400" height="300" />
		<% end %>


			<div class='col-md-6'>
			  <h6><%= exercise.title %></h6>
			  <%= exercise.description %>
			</div>

			<div class="col-md-4">
			<% if @patient.exercises.include?(exercise) %>
				<button class="exercise btn btn-warning" id='<%= exercise.id %>'>Remove</button>
			<% else %>
				<button class="exercise btn btn-success" id='<%= exercise.id %>'>Add</button>
			<% end %>

			</div>
			<div class="clearfix"></div>
			<hr>
		<% end %>

	</div>
</div>
