<%= @patient.image_url %>
<%= @patient.first_name + " " + @patient.last_name %>
<%= @patient.email %>
<%= @patient.phone_number %>
<%= @patient.location %>
<%= @patient_diagnosis %>

<div>
	List of Exercises:
</div>

<div>
	Your Current Physician:
</div>