<br>
<br>
<div class="container-fluid">
<h3>Edit exercise <%= @exercise.title %></h3>
  <%= form_for(@exercise) do |f| %>
  <%= f.text_field :title %><br>
  <%= f.text_area :description %><br>
  <%= f.text_area :body_part %><br>
  <%= f.submit "Save Changes" %>
  <% end %>
</div>
