<!DOCTYPE html>
<html>
<head>
  <title>DigicarePT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

  <script>UPLOADCARE_PUBLIC_KEY = "b87de74d4f4e35f8c03e";</script>
	<script src="https://ucarecdn.com/widget/2.9.0/uploadcare/uploadcare.full.min.js" charset="utf-8"></script>


</head>
<body>

<%= render 'partial/nav' %>


<!-- <div class="sub-nav"> -->
<%= yield %>
<!-- </div> -->

</body>
</html>
