<br>
<br>
<div class="container-fluid">
<h1>Physician Directory</h1>
<% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>
<% @doctors.each do |doctor| %>
<div class='col-md-2'><img class = 'image' src="<%= doctor.image_url %>" alt="image for doctor" width='150px'></div>
	<div class='col-md-4'>
	<div><h2><%= link_to doctor.first_name + " " + doctor.last_name, doctor_path(doctor) %></h2></div>
	<div><b>Email:</b> <%=doctor.email %></div>
<div class="clearfix"></div>	
<% end %>
</div>


