  <h1>Physician Sign Up Page </h1>

  <div class="container">
  <%= form_for @doctor, url: doctors_path(@doctor) do |f| %>

  <!-- <div>
   <%#= f.file_field :avatar %>
  </div> -->
  <div>

  <%= f.text_field :first_name, placeholder: "First Name" %> <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
  <%= f.text_field :email, placeholder: "Email" %> 
  </div>
  <div>
    <%= f.text_field :location, placeholder: "Location" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" %> 
  </div>

  <div>
    <%= f.text_field :description, placeholder: "Education, degrees, and specialty" %>
  </div>

  <br>
  <%= f.submit "Sign up" %>

  <br>

  <% end %>

  </div>
