<br><br><br>
<div class="container-fluid">
<div class="row">
<div class="doc_title">
  <h1><strong> Dr. <%= @doctor.first_name + " " + @doctor.last_name %> </strong></h1>
</div>
</div>


<!-- Doctor information -->
<div class="doctor-image">
<div class='col-md-4 col-sm-10 col-lg-6'><img class = 'image' src="<%= @doctor.image_url %>" alt="image for doctor" width='150px'></div>
</div>

<div class='col-md-4 col-sm-10 col-lg-6'>
<div class="doctor-info">
  <div><b>Email:</b> <%= @doctor.email %></div>
  <div><b>Phone:</b> <%= @doctor.phone %></div>
  <div><b>Location:</b> <%= @doctor.location %></div>
  <div><b>Bio:</b> <%= @doctor.description %></div>
  <div><b>Member Since:</b> <%= @doctor.created_at.strftime("%b %d, %Y") %></div>
</div>
</div>

<div class="clearfix"></div>
     <% if current_user != nil %>
      <% if current_user.user_t == 'doctors' %>
        <div class= "edit_button">
          <form action='/doctors/<%= @doctor.id %>/edit' method='get' >

          </form>
        </div>
      <% end %>
    <% end %>





  <div class="clearfix"></div>


  <!--  show doco for this doctor -->
  <% if current_user != nil %>
    <% if current_user.user_t == 'doctors' %>
      <div class= "edit_button">
        <form action='/doctors/<%= @doctor.id %>/edit' method='get' >
          <button> Edit Profile </button>
        </form>
      </div>

      <%unless @doctor.patients.empty? %>
        <h1>Patients</h1>
          <% @doctor.patients.each do |patient| %>
          <div class='col-md-1'>
              <img src="<%= patient.image_url %>" width="80px" alt="patient image"/>
          </div>
        <div class='col-md-4'>
              <h4><a href="/patients/<%= patient.id %>"><%= patient.first_name%>  <%= patient.last_name %></a></h4>
              <%= patient.diagnosis %>
              <% end %>
            <% end %>
        </div>

  <div class="clearfix"></div>
</div>
    <% end %>
<% end %>
</div>
