<nav>
  <div class>
    <ul>
      <li> <%= link_to "Home", '/' %></li>
      <li><%= link_to "About", '/about' %></li>
    </ul>
    <ul class>
      <% if current_user != nil %>
          <%if current_user.user_t == 'doctors' %>
              <li><%= link_to "Patients", '/patients' %></li>
              <li><%= link_to "Profile", doctor_path(current_user)%></li>
          <%else%>
              <li><%= link_to "Doctors", '/doctors' %></li>
              <li><%= link_to "Profile", patient_path(current_user)%></li>
          <%end%>

          <li><%= link_to "Logout", '/sessions', method: :delete %></li>
      <% else %>
        <li><%= link_to "Signup", '/signup' %></li>
        <li><%= link_to "Login", '/signin' %></li>
    </ul>
  </div>
  <% end %>
</nav>